<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smcc.application">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/smcclogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.StartingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLogins.LoginTypes"
            android:theme="@style/StatusTheme" />
        <activity
            android:name=".UserLogins.Admin"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UserLogins.Faculty"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.AdminWelcome"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UserLogins.WelcomeGuest"
            android:label="@string/title_activity_welcome_guest"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".UserLogins.WelcomeFaculty"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.Vision"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.AddFacultyActivty"
            android:theme="@style/StatusTheme" />
        <activity
            android:name=".Activity.ViewFacultyActivity"
            android:theme="@style/GetFacultyTheme" />
        <activity
            android:name=".Activity.PostNews"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.ChangePassword"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.GuestFeedback"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Activity.ViewFeedBack"
            android:theme="@style/GetFacultyTheme"/>
    </application>

</manifest>